/* index.css */

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding-top: 80px; /* Prevent content overlap with navbar */
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Light Theme */
body.light {
  background-color: #ffffff; /* Light background */
  color: #333333; /* Darker text */
}

body.light a {
  color: #646cff; /* Light theme link color */
}

body.light button {
  background-color: #f9f9f9; /* Light button */
  color: #333;
}

/* Dark Theme */
body.dark {
  background-color: #333333; /* Dark background */
  color: #ffffff; /* Light text */
}

body.dark a {
  color: #747bff; /* Dark theme link color */
}

body.dark button {
  background-color: #444444; /* Dark button */
  color: #fff;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Button styling */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 5px 5px;
  padding: 0.6em 2.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #d1cccc;
}

button:focus {
  outline: none;
}

/* Root container styles */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
